@import "~bootstrap/dist/css/bootstrap.css";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.logo {
    height: 120px;
    width: auto;
    transition: all .5s;
    &.true { height: 60px; }
}

.fade-in {
    opacity: 0.01;
    transform: translate(0, 100%);
    &.fade-in-appear-active {
        opacity: 1;
        transform: translate(0, 0);
        transition: transform 1000ms ease-out
    }
}
.fade-in-enter {
    opacity: 0.01;
    &.fade-in-enter-active {
        opacity: 1;
        transition: opacity 1000ms ease-in;
    }
}
.fade-in-leave {
    opacity: 0.01;
    &.fade-in-leave-active {
        opacity: 1;
        transition: opacity 1000ms ease-in;
    }
}
.fade-appear {
    opacity: 0.01;
    transform: translate(0, 100%);
    &.fade-appear-active {
        opacity: 1;
        transform: translate(0, 0);
        transition: transform 500ms ease-out;
    }
}
.fade-enter {
    opacity: 0.01;
    &.fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}
.fade-leave {
    opacity: 1;
    &.fade-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}